/* 
    General Styles
*/
input{
    width: 60%;
    margin-left: 80px;
    /* margin: auto; */
    margin-top: 20px;

    
}
button.saveButton{
    width: 100%;
    margin-top: 20px;
}
.contactPage{
    text-align: center;
    display: block;
}
input#phone{
    margin-left: 20px;
}
.addNewContact{
    width: 100%;
    text-align: right;
    margin-bottom: 20px;

}
.editAndDelete{
    text-align: right;
    flex: inline;
}
.contactImage{
    border-radius: 100%;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    width:20%
}
.updateButton{
    width: 100%;
}
div.card-body{
    width: 80%;
}